.main {
  display: flex;
  padding: 15px;
}
.content {
  min-height: 74vh;
  width: 100%;
 
}
.content_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

/* ---===cards of homePage==--- */
.link {
    border-radius: 10px;
   
}
.label > span {
  display: inline-block;
  font-family: "Inter", sans-serif;
 
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4px;
  font-weight: 600;
  padding: 2px 8px;
  text-transform: uppercase;
  background-color: #ff4f9c;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 10px;
}
.card__content{
    padding: 20px;
}
.title{
    font-family: 'Zilla Slab',serif;
    color: #041a57;
    text-transform: initial;
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
}
.title:hover {
 color: #46a5e3;
}