.card{
  margin-bottom: 15px;
  background-color: #fff;
  
}

 


  .flex {
    display: flex;
    
  }
  .content{
    font-family: 'Zilla Slab', serif;
    font-size: 14px;
    color: #041a57;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: .8px;
    padding-left: 10px;
    margin: auto 0;
   
  }
  .content:hover {
    color: #5ea5e3;
  }
  .img{
    max-width: 105px;
    height: 75px;
  }
 